.App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

button {
  padding: 1rem;
  border-radius: 36px;
  border-style: none;
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

button.fill {
  border-style: none;
  background: linear-gradient(45deg, var(--primary),var(--secondary));
}

button.outline {
  color: var(--secondary);
  border: 2px solid var(--secondary);
  background: none;
}
