.content {
    width: 100%;
    height: 100%;
}

.section-right {
    margin-bottom: 3rem;
    margin-left: 2rem;
    border-radius: 60px 0 0 60px;
    width: calc(100%-1rem);
    min-height: 500px;
}

.section-left {
    margin-bottom: 3rem;
    margin-right: 2rem;
    border-radius: 0 60px 60px 0;
    width: calc(100%-1rem);
    min-height: 500px;
}

.section-left-content {
    margin: 2rem;
}

.section-right-content {
    margin: 2rem;
}

@media only screen and (min-width: 1200px) {
    .section-right {
      margin-left: calc(50vw - 500px);
      width: calc(100% - (50vw - 500px));
    }

    .section-left {
        margin-right: calc(50vw - 500px);
        width: calc(100% - (50vw - 500px));
      }

    .section-left-content {
        margin-left: calc(50vw - 500px + 1rem);
    }

    .section-right-content {
        margin-right: calc(50vw - 500px + 1rem);
    }
  }