.landing {
    max-width: 800px;
    width: 100%;
    min-height: 70vh;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.landing h1, .landing p {
    width: 100%;
}

.landing h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.landing p {
    font-weight: 700;
    margin: 10px 0;
}

.landing button {
    padding: 1rem;
    border-radius: 36px;
    border-style: none;
    background: linear-gradient(45deg, #59AA5C, #7D227E);
    color: #eee;
    text-transform: uppercase;
    font-weight: 700;
}