.landing {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 64px;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.hero p {
    font-weight: 700;
    line-height: 1;
    margin: .5rem 0;
}

.hero button {
    margin-top: 1rem;
    padding: 2rem;
    font-size: 1.4rem;
    color: var(--light);
}
